.footer {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 5vh 10vw;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 1vw;
  margin-top: 2vh;
}

.social-icons img {
  height: 6vh;
  width: 3vw;
}

.footer input {
  background-color: #000000;
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.subscribe {
  border: none;
  cursor: pointer;
  background-color: #1d7b84;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}
